{
    "branches": [
        "main"
    ],
    "repositoryUrl": "https://github.com/Negri234279/cloudflare-ddns.git",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/git",
        "@semantic-release/github"
    ]
}